body {
    background-color: #f5e8f7;
    font-family: "Homer Simpson UI";
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }